@charset "UTF-8";

/* 共通部分*/
/*必要なら書き足すこと*/
html {
  font-size: 100%;
}

body {
  background-color: rgba(255, 255, 240, 0.2);
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",
    "ヒラギノ角ゴ Pro W3", sans-serif;
  /* 横スクロール */
  /* overflow-x: hidden; */
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/*共通部分ここまで*/

@font-face {
  font-family: "myfont";
  /*任意のフォントファミリー名でOK*/
  src: url("coda-caption/CodaCaption-Heavy.ttf") format("truetype");
  /*fontがあるパスを書いて、formatを指定*/
  font-display: swap;
}

/* ハンバーガーぼたんここから */
.menu-inner {
  /* 初期状態では非表示 */
  display: none;
  background-color: red;
  position: absolute;
  right: 0;
  top: 100px;
  padding: 200px 80px;
  z-index: 100;
  text-align: right;
}

.menu-inner li {
  list-style: none;
}

.menu-inner li a:hover {
  color: rgb(112, 0, 0);
}

.menu-inner li a {
  color: white;
  line-height: 12vw;
  font-size: 3vw;
}

/* メニューが開いた状態 */
.menu-inner.is-opened {
  display: block;
}

.menu-button {
  visibility: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 6px;
  width: 56px;
  height: 56px;
  border-radius: 30px;
  position: absolute;
  top: 22px;
  right: 12px;
  background-color: #ffffff;
}

.menu-button__line,
.menu-button::before,
.menu-button::after {
  content: "";
  width: 28px;
  height: 3.5px;
  background-color: #ff0000;
  transition: transform 0.6s, opacity 0.6s;
}

.menu-button.is-opened .menu-button__line {
  opacity: 0;
}

.menu-button.is-opened::before {
  transform: translateY(9.5px) rotate(45deg);
}

.menu-button.is-opened::after {
  transform: translateY(-9.5px) rotate(-45deg);
}

.menu-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 6px;
  width: 56px;
  height: 56px;
  border: 3px solid #ff0000;
  border-radius: 30px;
  background-color: #ffffff;
}

.menu-button__line,
.menu-button::before,
.menu-button::after {
  content: "";
  width: 28px;
  height: 3px;
  background-color: #ff0000;
  transition: transform 0.3s, opacity 0.3s;
}

.menu-button.is-opened .menu-button__line {
  opacity: 0;
}

.menu-button.is-opened::before {
  transform: translateY(9px) rotate(45deg);
}

.menu-button.is-opened::after {
  transform: translateY(-9px) rotate(-45deg);
}

/* ハンバーガーぼたんここまで */

/* flexここから */
.flex-item1 {
  text-align: left;
}

.center {
  visibility: hidden;
  /* justify-content: space-between;
	font-size: 2.1vw; */
}

/* flexここまで */

/* hero-imgここから */
.hero-img {
  background-image: url(img/gazo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 65vh;
  margin-top: -255px;
}

.hero-img-text {
  color: red;
  font-size: 3vw;
  position: absolute;
  font-family: "myfont", sans-serif;
  margin-top: 25%;
  margin-left: 25%;
}

.redbo {
  visibility: hidden;
}

/* hero-imgここまで */

/* 世界の名所ここから */
.flex h2 {
  font-size: 4vw;
  margin-top: 120px;
}

.flex-item4 {
  padding: 40px;
}


.maru {
  position: absolute;
  top: 20px;
  left: -20px;
}

.maru img {
  border-radius: 50%;
  max-width: 80px;
  max-height: 80px;
  z-index: 1;
  /* top: 98vw;
  right: 84vw; */
}

.gaiyo {
  font-family: "myfont", sans-serif;
  position: relative;
  /* margin-left: 40px; */
  padding-top: 50px;
    z-index: 2;
}

.gaiyo h2 {
  position: relative;
  z-index: 20;

}

button {
  font-family: "myfont", sans-serif;
  font-weight: bold;
  background-color: red;
  padding: 1vw;
}

button:hover {
  background-color: ivory;
}

button a {
  color: white;
}

button a:hover {
  color: red;
}

.button {
  /* position: absolute;
  top: 138vw;
  right: 10vw; */
  text-align: right;
  margin: 70px 40px 0 0;
}

/* 世界の名所ここまで */

/* グリッドここから */
.wrapper {
  width: 90%;
  margin: 0 auto;
}

.wrapper h2 {
  font-family: "myfont", sans-serif;
  color: red;
  font-size: 5vw;
  margin-top: 220px;
}

.wrapper1 {
  margin: 0 auto;
}

.flex2 {
  display: flex;
}

.flex-item1 .icon img {
  padding: 8px;
  max-width: 70px;
  max-height: 70px;
  margin: 15px 0 8px 15px;
  border-radius: 50%;
  border: 5px red solid;
}

.flex-img-grid {
  margin: 1.5vw 1vw 0.3vw 1vw;
}

.flex-img-grid img {
  border-radius: 50%;
  width: 100%;
}

.p {
  /* width: 90%; */
  line-height: 5vw;
  margin-top: 60px;
  /* margin: 0 auto; */
}

/* .p p {
  margin-top: 40px;
} */

.grid {
  display: block;
  margin-top: 50px;
  padding: 40px;
  width: 100%;
}

.world-grid {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 70px 0 0 / 0 70px 0 0;
  width: 100%;
  aspect-ratio: 4/3;
  margin: 0px 0 60px 0;
  /* margin: 20px 0; */
  /* 本文の位置を調整するためにポジションの設定 */
  position: relative;
}

.img-grid1 {
  background-image: url(img/ice.jpg);
}

.img-grid2 {
  background-image: url(img/fin.jpg);
}

.img-grid3 {
  background-image: url(img/doitu.jpg);
}

.img-grid4 {
  background-image: url(img/taiwan.jpg);
}

.img-grid5 {
  background-image: url(img/suwe.jpg);
}

.img-grid6 {
  background-image: url(img/igirisu.jpg);
}

.honbun {
  /* text-align: right; */
  /* margin: 162px 10px 0 264px; */
  width: 70%;
  line-height: 1.2rem;
  background-color: rgba(131, 130, 130, 0.4);
  color: white;

  position: absolute;
  bottom: 40px;
  right: 40px;

}

.honbun p {
  font-family: "myfont", sans-serif;
  padding: 6px;
  /* width: 200px; */
  font-size: 0.7rem;
}

.grid2 {
  margin-top: 50px;
}

.grid2 img {
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 70vh;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.grid h3,
.grid h4 {
  width: 100px;
  background-color: white;
  width: fit-content;
}

.grid h3 {
  margin-top: 1.5vw;
  padding: 2px 10px;
}

.grid h4 {
  font-size: 0.8rem;
  padding: 0 6px;
  margin-left: 43px;
}

/* グリッドここまで */

footer {
  background-color: red;
  margin-top: 100px;
  padding: 3px 0;
  text-align: center;
  color: white;
}

/* PC用設定ここから ---------------------------------------- */
@media (min-width: 769px) {
  .menu-button {
    visibility: hidden;
  }

  /* .menu-right {
		visibility: hidden;
	}
	 */

  .wrapper {
    width: 97%;
  }

  .wrapper1 {
    width: 100%;
    margin: 0 auto;
  }

  /* フレックスここから */
  .flex {
    display: flex;
  }

  .flex1 {
    display: flex;
    margin-top: 250px;
  }

  .flex-item1 {
    flex: 1;
    text-align: center;
  }

  .flex-item2 {
    flex: 4;
  }

  /* フレックスここまで */

  .flex-item1 .center li {
    font-family: "myfont", sans-serif;
    display: block;
    padding: 0;
    font-size: 1.55vw;
    margin: 0 7.5vw 1vw 0;
    text-align: right;
  }

  .flex-item1 .icon img {
    margin: 0;
    margin-top: 40px;
  }

  .flex-item1 .icon img {
    max-width: 100%;
    max-height: 100%;
  }

  .center {
    visibility: visible;
    padding-top: 5vw;
  }

  .flex-item1 {
    text-align: center;
  }

  .flex-item1 li {
    display: inline-block;
    padding: 30px 0;
    margin: 0 30px;
  }

  li a {
    color: rgb(81, 81, 81);
  }

  li a:hover {
    color: rgb(148, 148, 148);
  }

  .redbo {
    visibility: visible;
    position: absolute;
    top: 16vw;
    left: 15vw;
  }

  .flex-item3,.flex-item4
  {
    flex: 50%;
  }

  .flex-item3 {
    margin-top: 4vw;
  }

  .flex-item4 {
    padding: 40px;
  }

  .hero-img {
    min-height: 90vh;
    border-radius: 0 0 0 100px / 0 0 0 100px;
    margin-top: 0;
  }

  .hero-img-text {
    bottom: 2vw;
    left: 6vw;
    font-size: 3vw;
    margin-top: 0;
    margin-left: 0;
  }

  .hero-img-text p {
    font-size: 2.5vw;
  }



  .flex-item4 h2 {
    text-align: right;
    padding-right: 8vw;
    font-size: 2.7vw;
    margin-top: 0;
  }

  .maru {
  position: absolute;
    top: -50px;
    right: 5vw;
    left: auto;
  }

  .maru img {
    max-width: 100%;
    max-height: 100%;
    z-index: 10;
  }

  .img1 {
    background-image: url(img/christmas-market-4705878_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    width: 33vw;
    border-radius: 0 70px 70px 0 / 0 70px 70px 0;
  }

  .img2 {
    background-image: url(img/doitu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    aspect-ratio: 4/3;
    margin: 7vw 6vw 0 16vw;
    border-radius: 40px;
  }

  .gaiyo {
    padding-top: 0;
    position: relative;
  }

  .gaiyo h2 {
    position: relative;
    z-index: 2;
  }

  .p {
    /* width: 100%; */
    /* position: absolute;
    top: 85vw;
    left: 58vw;
    right: 6vw; */
    margin-top: 50px;
    margin-left: 80px;
    line-height: 5vw;
    margin-top: 150px;
    max-width: 80%;
    word-break: break-all;
  }

  /* .p p {
    margin-top: 0;
  } */

  .button {
    text-align: left;
    margin: 70px 0px 0 30px;
  }
    

  /* グリッドここから */
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 20px;
  }

  .world-grid {
    width: 100%;
      margin: 0;
  }

  .grid h4 {
    margin: 0.6px 0 0 58px;
  }

  .grid2 {
    display: grid;
    gap: 35px 20px;
    grid-template-columns: repeat(4, 1fr);
  }

  .grid2-big {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .grid2-big2 {
    grid-column: 3/5;
    grid-row: 2/3;
  }

  .honbun {
    width: 55%;
    bottom: 20px;
    right: 20px;
  } 

  /* グリッドここまで */
}
