body {
  font-size: 5vw;
  font-family: sans-serif;
  color: #666;
}

input::placeholder {
  font-size: 4vw;
}

.flex {
  display: flex;
}

.input-flex {
  flex: 2;
}

.add-flex {
  flex: 1;
  padding-top: 13px;
}

.button {
  font-size: 4.5vw;
  padding: 1vw 5vw;
}

.input-area {
  background-color: #d1e8ff;
}

input {
  border-radius: 8px;
  border: none;
  width: 80%;
  border-radius: 8px;
  border: none;
  padding: 3vw 4vw;
  margin-bottom: 2.5vw;
  font-size: 4.5vw;
}

button {
  font-size: 5vw;
  border-radius: 8px;
  border: 3px solid #b0c4de;
  background-color: white;
  padding: 1vw 5vw;
  margin: 1vw 1vw 1vw 4vw;
  font-size: 4.5vw;
  color: black;
}

button:hover {
  background-color: #4682b4;
  color: #fff;
  cursor: pointer;
}

.input-area {
  background-color: #e5f2ff;
  width: 90%;
  margin: 8px auto;
  height: 115px;
  padding: 8px;
  border-radius: 8px;
}

.incomplete-area {
  border: 2px solid #7fbfff;
  width: 90%;
  margin: 8px auto;
  height: 40vh;
  padding: 8px;

  border-radius: 8px;
}

.complete-area {
  border: 2px solid #7fbfff;
  width: 90%;
  margin: 8px auto;
  min-height: 40vh;
  padding: 8px;
  border-radius: 8px;
  background-color: #e5f2ff;
}

.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
}

.list-row {
  display: flex;
  align-items: center;
}

.todo-item {
  margin: 6px;
}

.li {
  margin-top: 3px;
  flex: 3;
  margin-left: 25px;
}

.button {
  flex: 1;
}
